<!DOCTYPE html>
<html lang="en" data-layout-mode="two-column" data-two-column-color="brand">

<head>
    <%- include ('./title-meta') %>

    <%- HeaderCss %> <%- include ('./head-css') %>
</head>

<body>

    <div id="wrapper">

        <%- include ('./topbar') %>
        <%- include ('./two-column-sidebar') %>

        <div class="content-page">
            <div class="content">

                <div class="container-fluid">

                    <%- include ('./page-title2') %> <%- body %>

                </div>
            </div>

            <%- include ('./footer') %>

        </div>

    </div>


    <%- include ('./right-sidebar') %>
    <%- include ('./footer-script') %>
    <%- FooterJs %>

</body>

</html>